---
// @ts-nocheck
const { image, nameShort } = Astro.props;
const { nameCard, type} = Astro.props;
const { meaningUp, meaningRev } = Astro.props;
---

<section>
    <button class="overview-card-outer" aria-expanded="false">
        <div class="overview-card-inner">
            <div class="overview-card-front">
                <img src={image} alt={nameShort}>
            </div>
            <div class="overview-card-back">
                <h2>{nameCard}</h2>
                <h3>{type}</h3>
                <p><strong>Meaning: </strong>{meaningUp}</p>
            </div>
        </div>
    </button>
</section>

<style>
    @font-face {
        font-family: 'DM Sans';
		src: url(./public/assets/fonts/DMSans-VariableFont_opsz,wght.ttf);
		font-weight: 100 800;
		font-style: normal;
    }

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    section {
        display: grid;
        justify-content: center;
        align-items: center;
        gap: 2em;

        & img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        & .overview-card-outer {
            background: none;
            border: none;
            padding: 0;
            margin: 0;
            font: inherit;
            color: inherit;
            
            width: 14em;
            height: 23.5em;
            perspective: 20em;
            cursor: pointer;

            transform: rotate(var(--rotation));
            transition: transform 0.2s ease;

            &:hover {
                transform: rotate(0deg);
            }

        }


        & .overview-card-inner {
            width: 100%;
            height: 100%;

            transition: transform 1s;
            transform-style: preserve-3d;
        }

        & .overview-card-front,
        .overview-card-back {
            position: absolute;
            inset: 0;
            color: #efe7d5;
            background: #4A2852;
            border-radius: 7px;
            
            border-radius: 7px;
            /* backface-visibility: hidden; */
        }

        & .overview-card-front {
        /*  Zo weet je zeker dat hij ervoor komt, altijd goed om te doen.  */
            transform: translateZ(.1px);
            border: .5em solid #F6FAfC;
        }

        & .overview-card-back {
            width: 100%;
            height: 100%;
            color: #efe7d5;
            transform: rotateY( 180deg );
            padding: 1em .5em;
            border: .5em solid transparent;

            display: grid;
            grid-template-rows: auto 1fr auto;
            gap: .15em;

            & h2 {
                font-size: max(1.5rem, 2vw);
                text-align: center;
                align-self: start;
                margin: .5em 0 .25em 0;
                color: #F6FAfC;
            }

            & h3 {
                font-size: max(1rem, 1vw);
                text-align: center;
                background-color: #F6FAfC;
                border-radius: 2px;
                color: #4A2852;
                width: max-content;
                padding: .2em .5em;
                justify-self: center;
                align-self: start;
            }

            & p {
                font-size: clamp(.7em, 1vw, .75em);

                text-align: start;
                align-self: end;
                margin-top: .75em;

                font-family: 'DM Sans';
                font-weight: 200;

                color: #F6FAfC;

                & strong {
                    font-family: 'DM Sans';
                    font-weight: 800;
                }
            }
        }
    }

</style>

<script>
    // @ts-nocheck
    const overviewcardsOuter = document.querySelectorAll(".overview-card-outer");

    overviewcardsOuter.forEach((overviewcardOuter) => {
        overviewcardOuter.addEventListener("click", rotateOverviewcard);

        const rotations = [-2, -3, 4];
        const random = rotations[Math.floor(Math.random() * rotations.length)];
        
        overviewcardOuter.style.setProperty('--rotation', `${random}deg`);
    })


    // https://developer.mozilla.org/en-US/docs/Web/API/Web_Animations_API/Using_the_Web_Animations_API
    function rotateOverviewcard(event) {
        const overviewcardInner = event.currentTarget.querySelector(".overview-card-inner");
        
        // Zodat ik overviewcardOuter later kan gebruiken met aria-expanded attribute (toegankelijkheid).
        const overviewcardOuter = event.currentTarget;
        
        const overviewcardFlipped = overviewcardInner.dataset.overviewcardFlipped === "true";
        
        overviewcardInner.animate(
            [
            { transform: overviewcardFlipped ? "rotateY(0deg)" : "rotateY(180deg)" }
            ],  
            {
            fill: 'forwards',
            duration: 1500,
            easing: "cubic-bezier(0.34, 1.56, 0.64, 1)"
            }
        );
        
        // tarotcardInner.dataset.tarotcardFlipped = !tarotcardFlipped;
        const newOverviewcardState = !overviewcardFlipped;

        overviewcardInner.dataset.overviewcardFlipped = newOverviewcardState;

        overviewcardOuter.setAttribute("aria-expanded", newOverviewcardState);
    }
</script>