---
// @ts-nocheck
import MainLayout from "../../layouts/MainLayout.astro";
import TarotCards from "../../components/TarotCards.astro";

const resMeanings = await fetch("https://tarotapi.dev/api/v1/cards");
const tarotMeanings = await resMeanings.json();
---

<MainLayout title="Ask the cards">
    <section class="saved-cards">

    </section>
</MainLayout>

<style>
    .saved-cards {
        display: grid;
        grid-template-areas:
            "card1  text1"
            "text2  card2"
            "card3  text3";
        grid-template-columns: 1fr 1fr;
    }

</style>

<style is:global>
    .tarotcard-outer {
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        font: inherit;
        color: inherit;

        width: 12em;
        height: 21em;
        perspective: 20em;
        cursor: pointer;

        touch-action: none;
        user-select: none;

        box-shadow:
            0 2px 6px rgba(0, 0, 0, 0.1),
            0 10px 20px rgba(0, 0, 0, 0.1);
        border: 0.35em solid var(--color-border-card);
        border-radius: 0.25em;

        & img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .card-1, .card-2, .card-3,
    .text-1, .text-2, .text-3 {
        justify-self: center;
    }

    .card-1 {
        grid-area: card1;
    }

    .card-2 {
        grid-area: card2;
    }

    .card-3 {
        grid-area: card3;
    }

    .text-1 {
        grid-area: text1;
    }

    .text-2 {
        grid-area: text2;
        text-align: end;
    }

    .text-3 {
        grid-area: text3;
    }
</style>

<script define:vars={{ tarotMeanings }}>
    // @ts-nocheck

    const savedCards = JSON.parse(window.localStorage.getItem("chosen_cards"));
    const savedContainer = document.querySelector(".saved-cards");

    savedCards.forEach((cardName, i) => {
        const div = document.createElement("div");

        div.dataset.index = i;
        div.dataset.name_short = cardName;

        div.className = `tarotcard-outer card-${i + 1}`;

        const img = document.createElement("img");
        img.src = `/assets/images/${cardName}.jpeg`;
        img.alt = `Tarot card: ${cardName}`;

        div.appendChild(img);
        savedContainer.appendChild(div);
    });

    savedCards.forEach((shortName, i) => {
        // filteren binnen in de hele tarot API naar de juiste kaarten. Als name_short in hele API overeenkomt met shortName uit savedCards dan returnt hij die.
        const card = tarotMeanings.cards.filter(card => {
            return card.name_short == shortName
        })

        // als er kaart is gevonden dan die tekst.
        if (card) {
            
            const text = document.createElement("div");
            text.className = `text-tarot text-${i + 1}`;
            text.innerHTML = `
                <h2>${card[0].name}</h2>
                <p>${card[0].type}</p>
                <p>${card[0].desc}</p>
                <p><strong>Meaning up:</strong> ${card[0].meaning_up}</p>
                <p><strong>Meaning reversed:</strong> ${card[0].meaning_rev}</p>
            `;
        
            savedContainer.appendChild(text);
        }
    });

</script>
