---
// @ts-nocheck
import MainLayout from "../../layouts/MainLayout.astro";
import TarotCards from "../../components/TarotCards.astro";

const resMeanings = await fetch("https://tarotapi.dev/api/v1/cards");
const tarotMeanings = await resMeanings.json();
---

<MainLayout>
    <h1>My interpertation</h1>
    <section class="saved-cards"></section>
</MainLayout>

<style>
    @font-face {
		font-family: 'Instrument Serif Regular';
		src: url(./public/assets/fonts/InstrumentSerif-Regular.ttf);
		font-weight: 100 800;
		font-style: normal;
	}

	* {
		font-family: 'Instrument Serif Regular', serif;
        color: #F6FAfC;
	}

    h1 {
        text-align: center;
        margin: 1em;
        font-size: clamp(2em, 10vw, 4em);
        color: #efe7d5;
    }
</style>

<style is:global>
    .saved-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
    } 
    
    .tarotcard-outer {
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        font: inherit;
        color: inherit;

        width: 12em;
        height: 21em;
        perspective: 20em;
        cursor: pointer;

        touch-action: none;
        user-select: none;

        box-shadow:
            0 2px 6px rgba(0, 0, 0, 0.1),
            0 10px 20px rgba(0, 0, 0, 0.1);
        border: 0.35em solid var(--color-border-card);
        border-radius: 0.25em;

        & img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .section-1,
    .section-2,
    .section-3 {
        padding: 3em;

        display: grid;
        grid-template-columns: max-content 1fr;
        column-gap: 2em;
    }

    .text-1,
    .text-2,
    .text-3 {
        align-self: end;

        & h2 {
            font-size: max(1.5rem, 2vw);
        }

        & p:nth-of-type(1) {
            margin: 1em 0 2em 0;
            font-size: max(1rem, 1vw);
            text-align: center;
            background-color: #F6FAfC;
            border-radius: 2px;
            color: #6A3F73;
            width: max-content;
            padding: .2em .5em;
        }

        & p:nth-of-type(2) {
            font-family: 'DM Sans', Arial, Helvetica, sans-serif;
            font-weight: 250;
            @media (width > 1024px) {
                max-width: 70%;
            }
        }
    }

    .card-1,
    .card-2,
    .card-3 {
        align-self: center;
        justify-self: center;
    }

    @media (width > 1024px) {
        .section-1,
        .section-2,
        .section-3 {
            grid-template-columns: 35% 1fr;
            column-gap: 4em;
            margin-bottom: 3em;
        }

        .card-1,
        .card-2,
        .card-3 {
            justify-self: end;
        }

        .text-1,
        .text-2,
        .text-3 {
            align-self: center;
        }
    }

    @media (width < 500px) {
        .section-1,
        .section-2,
        .section-3 {
            grid-template-columns: 1fr;
            gap: 1em;
            padding: 1em;
            margin-bottom: 3em;
        }

        .card-1,
        .card-2,
        .card-3 {
            justify-self: start;
        }

        .text-1,
        .text-2,
        .text-3 {
            align-self: start;
        }

        .tarotcard-outer {
            width: 100%;
            height: auto;
        }
    }

</style>

<script define:vars={{ tarotMeanings }}>
    
    // @ts-nocheck
    const savedCards = JSON.parse(window.localStorage.getItem("chosen_cards"));
    const savedContainer = document.querySelector(".saved-cards");

    savedCards.forEach((shortName, i) => {

        const seperateSection = document.createElement("section");
        seperateSection.className = `saved-card section-${i + 1}`;

        const card = tarotMeanings.cards.filter(card => {
            return card.name_short == shortName;
        })
        
        if (!card) return;
        
        // images
        const imgDiv = document.createElement("div");
        imgDiv.className = `tarotcard-outer card-${i + 1}`;

        const img = document.createElement("img");
        img.src = `/assets/images/${shortName}.jpeg`;
        img.alt = `Tarot card: ${shortName}`;

        imgDiv .dataset.index = i;
        imgDiv .dataset.name_short = shortName;

        imgDiv.appendChild(img);
        
        // texts
        const textDiv = document.createElement("div");
        textDiv.className = `text-tarot text-${i + 1}`;
        textDiv.innerHTML = `
            <h2>${card[0].name}</h2>
            <p>${card[0].type}</p>
            <p>${card[0].desc}</p>
        `;

        seperateSection.appendChild(imgDiv);
        seperateSection.appendChild(textDiv);

        savedContainer.appendChild(seperateSection);

    });

</script>
